<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Curriculum Vitae de Luis E. Perichon, Ingeniero en Informatica graduado del ITBA." />
	<meta name="keywords" content="Luis, Perichon, Luis Perichon, ingenieria, informatica, desarrollo, software, programacion, curriculum, cv, curriculum vitae" />
	<meta name="author" content="Luis Perichon / Original design: Andreas Viklund" />
	<link rel="stylesheet" type="text/css" href="css/andreas05.css" media="screen" />
  <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
	<script src="js/prototype.js" type="text/javascript"></script>
	<script src="js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
	<script src="js/lightbox.js" type="text/javascript"></script>
	<title>Luis E. Perichon - CV - {{ page.title }}</title>
</head>

<body>
<div id="title"><h1>curriculum vitae</h1></div>
<div id="container">
	<div id="sidebar">
		<h2>Luis E. Perichon</h2>
		<a class="menu" href="index.html">Principal</a>
		<a class="menu" href="summary.html">Resumen</a>
		<a class="menu" href="contact.html">Contacto</a>
		<a class="menu" href="experience.html">Experiencia</a>
		<a class="menu" href="education.html">Educaci&oacute;n</a>
		<a class="menu" href="portfolio.html">Portfolio</a>

		<p>Perfiles:<br />
		<a class='twitter' href="http://www.twitter.com/lperichon">Twitter</a>
		<a class='linkedin' href="http://www.linkedin.com/in/perichon">Linked-In</a>
		<a class='blog' href="http://blog.luisperichon.com.ar">Blog</a>
		<a class='delicious' href="http://delicious.com/lperichon">del.icio.us</a>
		<a class='github' href="http://github.com/lperichon">github</a>
		<a class='skype' href="skype:lperichon">Skype</a>

		<p>Formatos:<br />
		<a href="cv_luis_perichon_web.pdf">PDF</a><br />
		</p>
	</div>

	<div id="main">
  		{{ content }}
	</div>

	<div id="footer"></div>
</div>
</body>
</html>
      

